:host{
  /*min-width: 150px;*/
  /*width: 150px;*/
  /*max-width: 200px;*/
  width: 100%;

  resize: horizontal;
  height: 100%;
  /*background-color: black;*/
  display: flex;
}
.list{
  display: flex;
  justify-content: start;
  flex-direction: column;
  place-items: center;
  width: 100%;
  /*border-right: 1px solid lightslategrey;*/
}
.drive{
  width: 92%;
  padding: 4%;
  min-height: 50px;
  text-align: center;
  display: flex;
  /*background: white;*/
  flex-direction: row;
  font-weight: bolder;
  margin: 4% auto;
}
.active{
  background: #dedede;
}

