
<app-sync-menu *ngIf="showSyncMenu">

</app-sync-menu>

<span *ngIf="showSyncProgress" class="background-blur">
  <span class="option-container">
    <span class="spinner">

    </span>
    <h4 style="width: 80%">
      Syncing Your files. This may take 20-30 minutes of your time please wait.
    </h4>
  </span>
</span>



<div class="main">
  <span class="right-drive-list">
    <app-list-drives >

    </app-list-drives>
  </span>
  <span class="entity-list">
    <span class="address-bar" *ngIf="currentFolder!=undefined" >
      <ng-container *ngFor="let path of Path;let index = index">
        <button class="breadcrumb">
          {{path}}
        </button>
        <span *ngIf="index<Path.length-1" class="key">
          <i class="ph-caret-right"></i>
        </span>
      </ng-container>
    </span>
    <app-entity-list [folders]="currentFolder">
    </app-entity-list>
  </span>
</div>

<span class="status-bar">
  <label>
    Syncing
  </label>
</span>
